body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #5F8B4C;
    color: white;
}

.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #5F8B4C;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #5F8B4C;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: calc(100% - 40px);
}

#feedback {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

#feedback.correct {
    color: green; /* 정답일 때 초록색 */
}

#feedback.incorrect {
    color: red; /* 오답일 때 빨간색 */
}
.quiz-container h2 {
    text-align: center; /* 텍스트를 가로로 중앙 정렬 */
    margin: 20px 0; /* 위아래 여백 추가 */
    font-size: 24px; /* 글씨 크기 조정 */
}

h1, h2, button, input {
    font-family: 'Montserrat', sans-serif; /* 제목, 버튼, 입력 필드에도 동일한 폰트 적용 */
}
